<!-- Section 5: Case Studies & Client Results -->
<section id="case-studies" class="section case-studies">
    <div class="section-number">05</div>
    <h2>Case Studies & Client Results</h2>
    
    <div class="horizontal-scroll-container">
        <div class="slides-wrapper">
            <div class="slide slide-1">
                <div class="slide-content">
                    <h3>Case Study 1</h3>
                    <p>Content will be added here</p>
                </div>
            </div>
            <div class="slide slide-2">
                <div class="slide-content">
                    <h3>Case Study 2</h3>
                    <p>Content will be added here</p>
                </div>
            </div>
            <div class="slide slide-3">
                <div class="slide-content">
                    <h3>Case Study 3</h3>
                    <p>Content will be added here</p>
                </div>
            </div>
            <div class="slide slide-4">
                <div class="slide-content">
                    <h3>Case Study 4</h3>
                    <p>Content will be added here</p>
                </div>
            </div>
            <div class="slide slide-5">
                <div class="slide-content">
                    <h3>Case Study 5</h3>
                    <p>Content will be added here</p>
                </div>
            </div>
            <div class="slide slide-6">
                <div class="slide-content">
                    <h3>Case Study 6</h3>
                    <p>Content will be added here</p>
                </div>
            </div>
            <div class="slide slide-7">
                <div class="slide-content">
                    <h3>Case Study 7</h3>
                    <p>Content will be added here</p>
                </div>
            </div>
        </div>
    </div>
</section>
