<!-- Preloader -->
<div id="preloader" class="preloader">
    <div class="preloader__content">
        <div class="preloader__percentage" id="preloader-percentage">10</div>
        <div class="preloader__text">
            <span class="preloader__command" id="preloader-command">LAUNCHING YOUR ROI</span>
        </div>
    </div>
    <div class="preloader__slices" id="preloader-slices">
        <div class="preloader__slice preloader__slice--left"></div>
        <div class="preloader__slice preloader__slice--right"></div>
    </div>
    <img src="assets/images/spaceship.png" alt="Loading..." class="preloader__rocket" id="preloader-rocket">
</div>
