<!-- header area start -->
<div id="header-sticky" class="header header--transparent header--blur header--border">
    <div class="llg-container">
        <div class="llg-grid items-center">
            <div class="col-span-2 md:col-span-3 xl:col-span-3">
                <div class="header__logo">
                    <a href="/">
                        <img data-width="300" class="header__logo-white" src="assets/images/header/logo-white.png" alt="Legal Leads Group">
                        <img data-width="300" class="header__logo-black" src="assets/images/header/logo-black.png" alt="Legal Leads Group">
                    </a>
                </div>
            </div>
            <div class="col-span-4 md:col-span-2 xl:col-span-6 llg-desktop-only">
                <div class="header__nav-box">
                    <div class="header__nav header__dropdown dropdown-white-bg">
                        <nav class="header__desktop-menu">
                            <ul>
                                <li class="has-dropdown">
                                    <a href="https://lucrativelegal.com/history/">HISTORY</a>
                                    <ul class="header__submenu submenu">
                                        <li class="menu-item-has-children">
                                            <a href="https://lucrativelegal.com/team-members/">Our Team</a>
                                            <ul class="header__submenu submenu">
                                                <li><a href="https://lucrativelegal.com/sales/">Sales</a></li>
                                                <li><a href="https://lucrativelegal.com/operations/">Operations</a></li>
                                                <li><a href="https://lucrativelegal.com/customer-service/">Client Support</a></li>
                                                <li><a href="https://lucrativelegal.com/organic-seo-marketing-and-advertising/">Organic Leads</a></li>
                                                <li><a href="https://lucrativelegal.com/paid-search/">Paid Search</a></li>
                                                <li><a href="https://lucrativelegal.com/television-and-radio/">Traditional Ads</a></li>
                                                <li><a href="https://lucrativelegal.com/design/">Design</a></li>
                                                <li><a href="https://lucrativelegal.com/social-media/">Social Media</a></li>
                                                <li><a href="https://lucrativelegal.com/content-writing/">Content Writing</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="https://lucrativelegal.com/process/">PROCESS</a>
                                    <ul class="header__submenu submenu">
                                        <li class="menu-item-has-children">
                                            <a href="https://lucrativelegal.com/6-steps-to-success/">Our 6 Steps</a>
                                            <ul class="header__submenu submenu">
                                                <li><a href="https://lucrativelegal.com/step-one-digging-for-information/">Step One</a></li>
                                                <li><a href="https://lucrativelegal.com/step-two-market-research/">Step Two</a></li>
                                                <li><a href="https://lucrativelegal.com/step-three-building-a-campaign/">Step Three</a></li>
                                                <li><a href="https://lucrativelegal.com/step-four-design-for-conversions/">Step Four</a></li>
                                                <li><a href="https://lucrativelegal.com/step-five-campaign-launch/">Step Five</a></li>
                                                <li><a href="https://lucrativelegal.com/step-six-monitoring-and-adjustments/">Step Six</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="https://lucrativelegal.com/services/">SERVICES</a>
                                    <ul class="header__submenu submenu">
                                        <li class="menu-item-has-children">
                                            <a href="https://lucrativelegal.com/who-we-help/">Who We Help</a>
                                            <ul class="header__submenu submenu">
                                                <li><a href="https://lucrativelegal.com/law-firm-marketing/">Law Firms</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="https://lucrativelegal.com/what-we-do/">What We Do</a>
                                            <ul class="header__submenu submenu">
                                                <li><a href="https://lucrativelegal.com/organic-seo-marketing-and-advertising/">Organic Leads</a></li>
                                                <li><a href="https://lucrativelegal.com/paid-search/">Paid Ads</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="https://lucrativelegal.com/spanish-marketing/">Spanish SEM</a></li>
                                        <li><a href="https://lucrativelegal.com/rocket-leads-platform/">Rocket Leads</a></li>
                                        <li><a href="https://lucrativelegal.com/lead-gen/">Lead Gen</a></li>
                                        <li><a href="https://lucrativelegal.com/digital-ads/">Digital Ads</a></li>
                                        <li><a href="https://lucrativelegal.com/traditional-ads/">Traditional Ads</a></li>
                                        <li><a href="https://lucrativelegal.com/branding-your-business/">Biz Branding</a></li>
                                        <li><a href="https://lucrativelegal.com/creating-the-culture-of-your-business/">Biz Culture</a></li>
                                        <li><a href="https://lucrativelegal.com/apps/">Apps</a></li>
                                        <li><a href="https://lucrativelegal.com/crm-builds/">CRM Builds</a></li>
                                        <li><a href="https://lucrativelegal.com/graphic-design/">Graphic Design</a></li>
                                    </ul>
                                </li>
                                <li><a href="https://lucrativelegal.com/client-reviews/">REVIEWS</a></li>
                                <li class="has-dropdown">
                                    <a href="https://lucrativelegal.com/free-lead-generation-consultation/">CONTACT US</a>
                                    <ul class="header__submenu submenu">
                                        <li><a href="https://lucrativelegal.com/blog-and-marketing-news/">Blog & News</a></li>
                                        <li><a href="https://lucrativelegal.com/24-hours-emergency-support-ticket/">24/7 Ad Ticket</a></li>
                                        <li><a href="https://lucrativelegal.com/careers/">Careers</a></li>
                                        <li><a href="https://lucrativelegal.com/internships/">Internships</a></li>
                                        <li><a href="https://lucrativelegal.com/community-outreach/">Community</a></li>
                                        <li><a href="https://lucrativelegal.com/conventions/">Conventions</a></li>
                                        <li><a href="https://lucrativelegal.com/office-and-team-pics/">Offices</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-span-2 md:col-span-3 xl:col-span-3">
                <div class="header__actions">
                    <div class="header__btn-box llg-desktop-only">
                        <a href="#" class="btn-goo btn-goo--red">
                            <span class="btn-goo__filter-blur"></span>
                            <span class="btn-goo__filter" style="filter: url(#red-goo)">
                                <span class="btn-goo__text">Start a Project</span>
                                <span class="btn-goo__circle">
                                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 9L9 1M9 1H1M9 1V9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="header__mobile-toggle llg-mobile-only">
                        <button class="header__offcanvas-open-btn">
                            <i></i>
                            <i></i>
                            <i></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header area end -->

<!-- offcanvas area start -->
<div class="header__offcanvas-area">
    <div class="header__offcanvas-wrapper">
        <div class="header__offcanvas-top">
            <div class="header__offcanvas-logo">
                <a href="/">
                    <img class="logo-1" data-width="140" src="assets/images/header/logo-black.png" alt="Legal Leads Group">
                    <img class="logo-2" data-width="140" src="assets/images/header/logo-white.png" alt="Legal Leads Group">
                </a>
            </div>
            <div class="header__offcanvas-close">
                <button class="header__offcanvas-close-btn">
                    <svg width="37" height="38" viewBox="0 0 37 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.19141 9.80762L27.5762 28.1924" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M9.19141 28.1924L27.5762 9.80761" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="header__offcanvas-main">
            <div class="header__offcanvas-content">
                <h3 class="header__offcanvas-title">Hello There!</h3>
                <p>We're Legal Leads Group - your premier law firm marketing agency.</p>
            </div>
            <div class="header__offcanvas-menu">
                <nav class="header__mobile-menu">
                    <ul>
                        <li class="has-dropdown">
                            <a href="https://lucrativelegal.com/history/">HISTORY</a>
                            <ul class="header__mobile-submenu">
                                <li class="menu-item-has-children">
                                    <a href="https://lucrativelegal.com/team-members/">Our Team</a>
                                    <ul class="header__mobile-submenu">
                                        <li><a href="https://lucrativelegal.com/sales/">Sales</a></li>
                                        <li><a href="https://lucrativelegal.com/operations/">Operations</a></li>
                                        <li><a href="https://lucrativelegal.com/customer-service/">Client Support</a></li>
                                        <li><a href="https://lucrativelegal.com/organic-seo-marketing-and-advertising/">Organic Leads</a></li>
                                        <li><a href="https://lucrativelegal.com/paid-search/">Paid Search</a></li>
                                        <li><a href="https://lucrativelegal.com/television-and-radio/">Traditional Ads</a></li>
                                        <li><a href="https://lucrativelegal.com/design/">Design</a></li>
                                        <li><a href="https://lucrativelegal.com/social-media/">Social Media</a></li>
                                        <li><a href="https://lucrativelegal.com/content-writing/">Content Writing</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="https://lucrativelegal.com/process/">PROCESS</a>
                            <ul class="header__mobile-submenu">
                                <li class="menu-item-has-children">
                                    <a href="https://lucrativelegal.com/6-steps-to-success/">Our 6 Steps</a>
                                    <ul class="header__mobile-submenu">
                                        <li><a href="https://lucrativelegal.com/step-one-digging-for-information/">Step One</a></li>
                                        <li><a href="https://lucrativelegal.com/step-two-market-research/">Step Two</a></li>
                                        <li><a href="https://lucrativelegal.com/step-three-building-a-campaign/">Step Three</a></li>
                                        <li><a href="https://lucrativelegal.com/step-four-design-for-conversions/">Step Four</a></li>
                                        <li><a href="https://lucrativelegal.com/step-five-campaign-launch/">Step Five</a></li>
                                        <li><a href="https://lucrativelegal.com/step-six-monitoring-and-adjustments/">Step Six</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="https://lucrativelegal.com/services/">SERVICES</a>
                            <ul class="header__mobile-submenu">
                                <li class="menu-item-has-children">
                                    <a href="https://lucrativelegal.com/who-we-help/">Who We Help</a>
                                    <ul class="header__mobile-submenu">
                                        <li><a href="https://lucrativelegal.com/law-firm-marketing/">Law Firms</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="https://lucrativelegal.com/what-we-do/">What We Do</a>
                                    <ul class="header__mobile-submenu">
                                        <li><a href="https://lucrativelegal.com/organic-seo-marketing-and-advertising/">Organic Leads</a></li>
                                        <li><a href="https://lucrativelegal.com/paid-search/">Paid Ads</a></li>
                                    </ul>
                                </li>
                                <li><a href="https://lucrativelegal.com/spanish-marketing/">Spanish SEM</a></li>
                                <li><a href="https://lucrativelegal.com/rocket-leads-platform/">Rocket Leads</a></li>
                                <li><a href="https://lucrativelegal.com/lead-gen/">Lead Gen</a></li>
                                <li><a href="https://lucrativelegal.com/digital-ads/">Digital Ads</a></li>
                                <li><a href="https://lucrativelegal.com/traditional-ads/">Traditional Ads</a></li>
                                <li><a href="https://lucrativelegal.com/branding-your-business/">Biz Branding</a></li>
                                <li><a href="https://lucrativelegal.com/creating-the-culture-of-your-business/">Biz Culture</a></li>
                                <li><a href="https://lucrativelegal.com/apps/">Apps</a></li>
                                <li><a href="https://lucrativelegal.com/crm-builds/">CRM Builds</a></li>
                                <li><a href="https://lucrativelegal.com/graphic-design/">Graphic Design</a></li>
                            </ul>
                        </li>
                        <li><a href="https://lucrativelegal.com/client-reviews/">REVIEWS</a></li>
                        <li class="has-dropdown">
                            <a href="https://lucrativelegal.com/free-lead-generation-consultation/">CONTACT US</a>
                            <ul class="header__mobile-submenu">
                                <li><a href="https://lucrativelegal.com/blog-and-marketing-news/">Blog & News</a></li>
                                <li><a href="https://lucrativelegal.com/24-hours-emergency-support-ticket/">24/7 Ad Ticket</a></li>
                                <li><a href="https://lucrativelegal.com/careers/">Careers</a></li>
                                <li><a href="https://lucrativelegal.com/internships/">Internships</a></li>
                                <li><a href="https://lucrativelegal.com/community-outreach/">Community</a></li>
                                <li><a href="https://lucrativelegal.com/conventions/">Conventions</a></li>
                                <li><a href="https://lucrativelegal.com/office-and-team-pics/">Offices</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__offcanvas-contact">
                <h3 class="header__offcanvas-title sm">Information</h3>
                <ul>
                    <li><a href="tel:+18052738791">+ 1 805-273-8791</a></li>
                    <li><a href="mailto:info@lucrativelegal.com">info@lucrativelegal.com</a></li>
                    <li><a href="#">699 Hampshire Road, Suite 217 Westlake Village, CA 91361</a></li>
                </ul>
            </div>
            <div class="header__offcanvas-social">
                <h3 class="header__offcanvas-title sm">Follow Us</h3>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/people/Legal-Leads-Group/61560343840468/">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.25 1.5H4.75C2.95507 1.5 1.5 2.95507 1.5 4.75V11.25C1.5 13.0449 2.95507 14.5 4.75 14.5H11.25C13.0449 14.5 14.5 13.0449 14.5 11.25V4.75C14.5 2.95507 13.0449 1.5 11.25 1.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M10.6016 7.5907C10.6818 8.13166 10.5894 8.68414 10.3375 9.16955C10.0856 9.65497 9.68711 10.0486 9.19862 10.2945C8.71014 10.5404 8.15656 10.6259 7.61663 10.5391C7.0767 10.4522 6.57791 10.1972 6.19121 9.81055C5.80451 9.42385 5.54959 8.92506 5.46271 8.38513C5.37583 7.8452 5.46141 7.29163 5.70728 6.80314C5.95315 6.31465 6.34679 5.91613 6.83221 5.66425C7.31763 5.41238 7.87011 5.31998 8.41107 5.4002C8.96287 5.48202 9.47372 5.73915 9.86817 6.1336C10.2626 6.52804 10.5197 7.0389 10.6016 7.5907Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M11.5742 4.42578H11.5842" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://x.com/LegalLeadsGRP">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.50589 12.7494C4.57662 16.336 9.16278 17.5648 12.7494 15.4941C14.2113 14.65 15.2816 13.388 15.8962 11.9461C16.7895 9.85066 16.7208 7.37526 15.4941 5.25063C14.2674 3.12599 12.1581 1.82872 9.89669 1.55462C8.34063 1.366 6.71259 1.66183 5.25063 2.50589C1.66403 4.57662 0.435172 9.16278 2.50589 12.7494Z" stroke="currentColor" stroke-width="1.5" />
                                <path d="M12.7127 15.4292C12.7127 15.4292 12.0086 10.4867 10.5011 7.87559C8.99362 5.26451 5.28935 2.57155 5.28935 2.57155M5.68449 15.6124C6.79553 12.2606 12.34 8.54524 16.3975 9.43537M12.311 2.4082C11.1953 5.72344 5.75732 9.38453 1.71875 8.58915" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/legal-leads-group/">
                            <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 5.5715H6.33342C7.62867 5.5715 8.61917 6.56199 8.61917 7.85725C8.61917 9.15251 7.62867 10.143 6.33342 10.143H1.76192C1.30477 10.143 1 9.83823 1 9.38108V1.76192C1 1.30477 1.30477 1 1.76192 1H5.5715C6.86676 1 7.85725 1.99049 7.85725 3.28575C7.85725 4.58101 6.86676 5.5715 5.5715 5.5715H1Z" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10"></path>
                                <path d="M10.9062 7.09454H17.0016C17.0016 5.41832 15.6301 4.04688 13.9539 4.04688C12.2777 4.04688 10.9062 5.41832 10.9062 7.09454ZM10.9062 7.09454C10.9062 8.77076 12.2777 10.1422 13.9539 10.1422H15.2492" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M16.1125 1.44434H11.668" stroke="currentcolor" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCtieSjRqeySSydSpAMQUUyg">
                            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.75 13H5.25C3 13 1.5 11.5 1.5 9.25V4.75C1.5 2.5 3 1 5.25 1H12.75C15 1 16.5 2.5 16.5 4.75V9.25C16.5 11.5 15 13 12.75 13Z" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M8.70676 5.14837L10.8006 6.40465C11.5543 6.90716 11.5543 7.66093 10.8006 8.16344L8.70676 9.41972C7.86923 9.92224 7.19922 9.50348 7.19922 8.5822V6.06964C7.19922 4.98086 7.86923 4.64585 8.70676 5.14837Z" fill="currentcolor" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="body-overlay"></div>
<!-- offcanvas area end -->

<!-- SVG Filters for Gooey Button Effect -->
<svg style="position: absolute; width: 0; height: 0; overflow: hidden;">
  <defs>
    <filter id="red-goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
      <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
    </filter>
  </defs>
</svg>
