/* Webfont: Mahessa-Aged */@font-face {
    font-family: 'MahessaAged';
    src: url('Mahessa-Aged.eot'); /* IE9 Compat Modes */
    src: url('Mahessa-Aged.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Mahessa-Aged.woff') format('woff'), /* Modern Browsers */
         url('Mahessa-Aged.woff2') format('woff2'), /* Modern Browsers */
         url('Mahessa-Aged.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

